<h2>Lista de Usuarios: </h2>
<hr>
<a href="/usuarios/registro">
    <button class="btn btn-success">Nova usuario</button>
</a>

{{#each usuarios}}
    <div class="card mt-4">
        <div class="card-body">
            <p>Nome: {{nome}}</p>
            <small>E-Mail: {{email}}</small><br>
            {{#if eAdmin}}
                <small>Tipo: Adm</small><br>
            {{else}}
                <small>Tipo: Normal</small><br>
            {{/if}}       
            <a href="/admin/usuarios/edit/{{_id}}"><button class="btn btn-success mt-4">Editar usuario</button></a>

            <a href="/admin/usuarios/edit-senha/{{_id}}"><button class="btn btn-success mt-4">Editar senha</button></a>

            <form action="/admin/usuarios/deletar" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Deletar usuario</button>
            </form>
        
        </div>
    </div>

{{else}}
    <p>Nenhuma usuario registrada</p>
{{/each}}